/*MAIN STYLING*/
.border{
  border: 1px solid black;
}
html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  }

  .main-container {
    width: 100%;
    margin: 0;
  }

  .flex {
    display: flex;
  }

  .text {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

    h1 {
      font-size: 2.5rem;
      line-height: 1.4;
      font-weight: 700;
    }

    h2{
      font-size: 2rem;
      line-height: 1.3;
      font-weight: 500;
    }

    h3{
      font-size: 1.6rem;
      line-height: 1.2;
      font-weight: 600;
    }

    h4{
      font-size: 1.25rem;
      line-height: 1.2;
      font-weight: 600;
    }

    P{
      font-size: 0.9rem;
      line-height: 1.2;
      font-weight: 400;
    }

/* HEADER */
#header {
  width: 100%;
  border-bottom: 1px solid rgba(63, 64, 63, 1);
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgba(60, 110, 113, 1);
  height: 4rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

  #logo {
    align-items: center;
    margin: 0 0 0 1.5rem;
  }
    #logo img{
      height: 3rem;
      margin: 0 0.25rem 0 0 ;
    }
    #logo h1{
      margin: 0;
      font-family: "Noto", serif;
      font-weight: bold;
      font-size: 2rem;
      color: rgba(63, 64, 63, 1);
    }

#header h1::after {
  content: "ACADEMY";
  font-family: "Noto", serif;
  color: rgba(226, 192, 68, 1);
  font-size: 2rem;
}

  /*NAV BAR*/
  nav {
    flex-direction: row;
    margin: auto 1.5rem auto 0;
  }
    nav ul li{
      display: inline;
      text-decoration: none;
    }
    nav a{
      text-decoration: none;
      color: rgba(246, 246, 246, 1);
      padding-left: 1rem;
    }

  /*MEDIA QUERIES FOR NAV BAR*/
    /*SCREEN 900PX OR MORE*/
    @media only screen and (min-width: 900px){
      .menu-mobile{
        display: none;
      }
    }
    /*SCREEN LESS THAN 900PX*/
    @media only screen and (max-width: 899px){
      .menu-main{
        display: none;
      }
      #header h1{
        display: none;
      }
      nav{
        width: 65%;
      }
        .menu-mobile{
          width: 100%;
          justify-content: space-between;
        }
        .menu-mobile span{
          align-self: center;
        }
        .menu-mobile img{
          height: 2rem;
        }
    }

/*LEARN SOMETHING NEW CONTENT*/
.learn{
  background-color: rgba(210, 204, 161, 0.6);
  margin-top: 4rem;
  flex-direction: row;
  justify-content: flex-start;
  }

  .large-image {
    width: 60%;
    margin: 2rem 1.5rem;
  }
    .large-image img {
    width: 100%;

    }

  .learn .text {
      width: 40%;
      height: auto;
      margin: 2rem 0 2rem 0;
    }
      .learn h1,
      .learn h2 {
        margin-bottom: 1.5rem;
      }

    .learn .text .button{
        width: 75%;
        background-color: rgba(63, 64, 63, 1);
        padding: 0.5rem;
        color: rgba(246, 246, 246, 1);
        text-align: center;
        text-decoration: none;
      }
      /*CHANGE BUTTON & TEXT COLOUR WHEN HOVER*/
      .learn .text .button:hover{
          background-color: rgba(226, 192, 68, 1);
          color: rgba(63, 64, 63, 1);
          transition: color 250ms;
        }

/*PRACTICE CONTENT*/
  .practice {
    flex-direction: row;
    justify-content: flex-start;
  }
    .practice .text {
      width: 100%;
      padding-right: 1rem;
      }
      .practice .text h1{
        margin: 2rem 0 0 0;
        text-align: left;
      }
      .practice .text p {
        margin-top: 1.5rem;
      }
      .practice .text p:last-child{
        font-style: italic;
        font-size: 0.75rem;
      }

  .practice-col2{
    margin: 1rem 0 2rem 0;
    flex-direction: column;
    width: 40%;
    border-left: 0.5px solid rgba(63, 64, 63, 0.25);
  }

      .orientation, .campus, .guest {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0;
      }
      .orientation img, .campus img, .guest img{
        margin-left: 1rem;
      }
      .guest{
        background-color: rgba(210, 204, 161, 0.4);
      }
      .full-display {
        width: 35%;
      }
      .info-text {
        width: 65%;
        margin: 1rem 0 1rem 1rem;
      }
        .info-text h4,
        .info-text p {
          padding-bottom: 1rem;
        }
        .info-text p:last-child{
          font-style: italic;
        }

      /*MEDIA QUERIES FOR PRACTICE CONTENT*/
      @media only screen and (min-width: 900px){
        .mobile-display {
          display: none;
        }
      }
      @media only screen and (max-width: 899px){
        #practice-col-1 {
          display: none;
        }
        .full-display {
          display: none;
        }
        .orientation, .campus, .guest {
          width: 100%;
          flex-direction: column;
        }
        .guest{
          background-color: transparent;
        }
      }
/*COURSES*/
  #courses {
    background-color: rgba(226, 192, 68, 0.2);
  }
  #courses h3 {
    text-align: center;
    font-weight: 700;
    padding-top: 2rem;
  }
  .courses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 4.5rem 0 4.5rem;
    justify-content: space-around;
  }
  .course-container{
    padding-bottom: 1.5rem;
    width: 28%;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color: rgba(246, 246, 246, 1);
  }
  .course-container img{
    width: 100%;
    height: auto;
    }
  .course-container p{
    text-align: justify;
    word-wrap: normal;
  }
/*THESIS*/

.thesis h2 {
  padding: 2rem 0;
  text-align: center;
  font-weight: 700;
}
#thesis{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.video {
  width: 60%;
  padding: 0 1.5rem;
}

.video video{
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.video h4{
  width: 100%;
  margin-bottom: 0.5rem;
}
.video p {
  width: 100%;
  margin-bottom: 2rem;
  text-align: justify;
}

.thesis-content {
  width: 40%;
}

.thesis-content img {
  width: 35%;
  height: 35%;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*FOOTER*/
  .footer {
    background-color: rgba(63, 64, 63, 1);
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    color: rgba(246, 246, 246, 1);
  }

    .copyright,
    .terms {
      margin: 1rem 1.5rem;
    }
    .copyright span:first-child,
    .terms span:first-child {
        padding-right: 0.5rem;
      }
