html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  }

.main-container {
  border: 1px solid black;
  width: 100%;
  margin: 0 auto 0 auto;
}

.flex {
  display: flex;
}

.text {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 700;
}

h2{
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 500;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgba(60, 110, 113, 1);
  height: 4rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  align-items: center;
  margin: 0 0 0 1.5rem;
}

#logo img{
  height: 3rem;
  margin: 0 0.25rem 0 0 ;
}

#logo h1{
  margin: 0;
  font-family: "Noto", serif;
  font-weigh: 700;
  font-size: 2rem;
  color: rgba(63, 64, 63, 1);
}

.header h1::after {
  content: "ACADEMY";
  font-family: "Noto", serif;
  color: rgba(226, 192, 68, 1);
  font-size: 2rem;
}
/*Nav Bar*/
  nav {
    flex-direction: row;

    margin: auto 1.5rem auto 0;
  }

nav ul li{
  display: inline;
  text-decoration: none;
}

  nav a{
    text-decoration: none;
    color: rgba(246, 246, 246, 1);
    padding-left: 1rem;
  }


  /*Media queries for nav bar display*/

  @media only screen and (min-width: 900px){
    .menu-mobile{
      display: none;
    }
  }

  @media only screen and (max-width: 899px){
    .menu-main{
      display: none;
    }
    .header h1{
      display: none;
    }
    nav{
      width: 65%;
    }
    .menu-mobile{
      width: 100%;
      justify-content: space-between;
    }
    .menu-mobile span{
      align-self: center;
    }
  }

/*learn something new content*/
.learn{
  margin-top: 4rem;
  flex-direction: row;
  justify-content: flex-start;
  }

.large-image{
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
}

.large-image img{
  width: 100%;
}

.learn .text {
    width: 40%;
    padding-right: 3.5rem;
}
    .learn h1,
    .learn h2 {
      margin-bottom: 1.5rem;
    }

.button{
  border: 1px solid black;
  padding: 0.5rem 8rem;
}
    .button h4{
      text-align: center;
      margin: 0;
      padding: 0;
    }

/* Practice content */
  .practice {
    flex-direction: row;
    justify-content: flex-start;
  }

.practice .text {
  width: 100%;
  padding-right: 1rem;
  }

.practice-col2{
  width: 40%;
  border-left: 0.5px solid lightgrey;
  padding-left: 1rem;
}
